@font-face {
    font-family: "TuesdayNight";
    src: url("../fonts/TuesdayNight-Regular/TuesdayNight-Regular.otf")
        format("opentype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Arsenica";
    src: url("../fonts/Arsenica/ArsenicaTrial-LightItalic.ttf")
        format("opentype");

    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Arsenica";
    src: url("../fonts/Arsenica/ArsenicaTrial-Thin.ttf") format("opentype");

    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Arsenica";
    src: url("../fonts/Arsenica/ArsenicaTrial-ThinItalic.ttf")
        format("opentype");

    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.ttf") format("opentype");

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Light.ttf") format("opentype");

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Thin.ttf") format("opentype");

    font-weight: 200;
    font-style: normal;
}

:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    --color-brown: rgba(179, 143, 103, 1);
    --color-dark-brown: #644b38;
    --color-light-brown: #c7b49d;
}

a {
    text-decoration: none;
    color: var(--color-brown);
}

a:hover {
    color: var(--color-brown);
    opacity: 0.9;
}

p {
    padding: 0;
    margin: 0;
}

body {
    color: var(--color-brown);
    overflow-x: hidden;
}

.accordion-button:focus {
    box-shadow: none;
}

.app {
    width: 100%;
}

.main__container {
    width: 1600px;
}

.element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20px);
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.btn-filter {
    display: flex;
    align-items: center;

    gap: 9px;
    padding: 5px 18px;

    border: 1px solid var(--color-light-brown);
}
.btn-filter img {
    width: 15px;
    height: 15px;
}
