.pagination {
    margin: 0px 30px;
}
.page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    align-items: center;
    padding: 0;
    border: none;
    color: var(--color-dark-brown);
    border-radius: 50%;
    cursor: pointer;
}

.page-item.active {
    background: none;
    border: 1px solid var(--color-brown);
    color: var(--color-brown);
}

.page-item:not(.active):hover {
    border: 1px solid var(--color-brown);
}

.page-btn__next .page-link img {
    transform: rotate(180deg);
}

.page-btn .page-link {
    border: none;
    color: var(--color-brown);
}
