.painting-container {
    padding: 200px 0px 140px 30px;
}

.paintings-title {
    margin-left: 15px;
}

.artist {
    font-size: 16px;
    color: var(--color-dark-brown);
}

.title {
    font-family: "Arsenica";
    font-weight: 500;
    font-size: 46px;
}

.price {
    color: var(--color-dark-brown);
}

.btn__add-basket {
    border: 1px solid var(--color-brown);
    padding: 10px 25px;
    color: var(--color-brown);
}

.btn__add-basket:hover {
    color: inherit;
    opacity: 0.6;
}

.paintings-title {
    font-family: "Arsenica";
    color: var(--color-dark-brown);
    font-weight: 500;
    font-size: 40px;
}

.item {
    width: calc(25% - 30px);
}

.description {
    color: var(--color-dark-brown);
}
